body[data-theme='dark'] {
    background-color: #110038;
}

[data-theme='dark'] header {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    box-shadow: 0 1px 0 0 #110038;
}

[data-theme='dark'] .logo {
    background-image: url(../img/gifof_logo_dark.png);
}

[data-theme='dark'] a.my-guifos:hover {
    outline: 1px dotted #FFFFFF;
    outline-offset: 4px;
}

[data-theme='dark'] a.my-guifos:active {
    color: #8f8a9b;
}

[data-theme='dark'] .bar {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

[data-theme='dark'] .suggestion-result {
    background: #CCCCCC;
}

[data-theme='dark'] button,
[data-theme='dark'] .guifos {
    background: #EE3EFE;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

[data-theme='dark'] .window-container {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

[data-theme='dark'] button.cancelar,
[data-theme='dark'] .uploaded-buttons button,
[data-theme='dark'] .remake-gif {
    background: #CCCCCC;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

[data-theme='dark'] .search-button {
    background: #B4B4B4;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    color: #8F8F8F;
}

[data-theme='dark'] .search-button.ready {
    background: #EE3EFE;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

[data-theme='dark'] nav button:hover,
[data-theme='dark'] nav button:active,
[data-theme='dark'] .nav-button .guifos:hover,
[data-theme='dark'] .nav-button .guifos:active {
    background: #CE36DB;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

[data-theme='dark'] .data-theme span.button-text,
[data-theme='dark'] .icon {
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

[data-theme='dark'] #theme {
    background-color: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

[data-theme='dark'] #theme span {
    background: #CCCCCC;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

[data-theme='dark'] #theme span.selected {
    background: #2E32FB;
    border: 1px solid rgba(51,53,143,0.20);
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
    color: white;
}

[data-theme='dark'] #theme span.selected a {
    color: #FFFFFF;
}

[data-theme='dark'] .box {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

[data-theme='dark'] .my-guifos,
[data-theme='dark'] .guifos,
[data-theme='dark'] .guifos a,
[data-theme='dark'] .button-text {
    color: #FFFFFF;
}

[data-theme='dark'] a.my-guifos:visited {
    color: #FFFFFF;
}

[data-theme='dark'] .see-more {
    background: #2E32FB;
    box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
}

[data-theme='dark'] .see-more:hover {
    background: #2629CC;
    box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
    outline: 1px dotted #110038;
    outline-offset: -4px;
}

[data-theme='dark'] .suggestions .gif-box {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
}

[data-theme='dark'] .trends .gif-container:hover,
[data-theme='dark'] .mis-guifos .gif-container:hover {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
}

[data-theme='dark'] button.comenzar {
    color: #FFFFFF;
}

[data-theme='dark'] .data-theme .recording span.button-text,
[data-theme='dark'] .recording .icon {
    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
}