body[theme='dark'] {
    background-color: #110038;
}

[theme='dark'] header {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    box-shadow: 0 1px 0 0 #110038;
}

[theme='dark'] .logo {
    background-image: url(../img/gifof_logo_dark.png);
}

[theme='dark'] button {
    background-color: #EE3EFE;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

[theme='dark'] nav button:hover, [theme='dark'] nav button:active {
    background: #CE36DB;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

[theme='dark'] .theme span.button-text, [theme='dark'] .icon {
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

[theme='dark'] nav ul {
    background-color: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

[theme='dark'] nav li {
    background-color: #CCCCCC;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

[theme='dark'] .my-guifos, [theme='dark'] .guifos, [theme='dark'] .button-text {
    color: #FFFFFF;
}
/* 
.my-guifos u{
    text-decoration: none;
} */