* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Chakra Petch', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

a {
    outline: none;
}

input {
    font-family: 'Chakra Petch', sans-serif;
}

header {
    /* height: 23px; */
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin: 1px 1px 0;
    padding: 3px 0 4px 7px;
}

.bar {
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 3px 0 3px 3px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.hidden {
    display: none;
}

/*----- Placeholder style-----*/
.suggestions input::-webkit-input-placeholder,
.trends input::-webkit-input-placeholder {
    color: #110038;
}

.suggestions input:-moz-placeholder,
.trends input:-moz-placeholder {
    color: #110038;
}

.suggestions input::-moz-placeholder,
.trends input::-moz-placeholder {
    color: #110038;
}

.suggestions input:-ms-input-placeholder,
.trends input:-ms-input-placeholder {
    color: #110038;
}
/*----------*/

/************* Buttons Menu *************/
.logo {
    width: 102.6px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: center;
}

.logo a {
    width: 100%;
}

nav .container {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding-top: 35px;
    padding-bottom: 19px;
}

.nav-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 420px;
}

button, .createGuifosButton {
    border: 1px solid #110038;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    outline: none;
}

.guifos {
    padding: 9px 26.5px;
}

nav ul {
    display: none;
    list-style: none;
    position: absolute;
    width: 170px;
    height: 102px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    top: 37px;
    left: -1px;
    right: -1px;
}

nav ul.button-open {
    display: flex;
}

nav li {
    width: 150px;
    height: 36px;
    padding: 7px 0 7px 16px;
    text-align: left;
}

nav a {
    margin-left: 0;
    color: #110038;
    line-height: 22px;
    text-decoration: none;
}

.theme {
    width: 170px;
    height: 38px;
    position: relative;
    z-index: 1;
}

.button-container {
    display: flex;
    height: 100%;
}

.theme span {
    height: 100%;
    padding-top: 9px;
    padding-bottom: 9px;
}

.theme span.button-text {
    border-right: 1px solid #110038;
}

.button-text {
    width: 133px;
}

.icon {
    width: 36px;
}

/************* Search Box *************/
.box {
    background-color: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    height: 100px;
    padding-top: 3px;
}

.search-box .bar {
    margin-left: 3px;
    margin-right: 3px;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 18px 12px 15px;
}

.search-box input {
    width: calc(100% - 143px);
    height: 48px;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
    padding: 13px 0 13px 16px;
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.search-button {
    width: 102px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px 0 10px;
    font-size: 16px;
    color: #B4B4B4; /*TODO NO CAMBIA EL COLOR!!*/
    letter-spacing: 0;
    line-height: 18px;
}

/************* Suggestions *************/
.suggestions input,
.trends input,
.mis-guifos input {
    background-color: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    padding: 7px 0 7px 7px;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 18px;
    width: 100%;
    margin-bottom: 16px;
}

/************* Gifs Containers *************/

.suggestions .container {
    padding-top: 64px;
}

.gif-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gif-box {
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    width: 288px;
    height: 298px;
    padding: 3px 4px 4px;
    overflow: hidden;
    position: relative;
}

.suggestions .gif-box {
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    width: 288px;
    height: 313px;
    padding: 3px 4px 4px;
    overflow: hidden;
}

.suggestions .gif-container {
    width: 280px;
    height: 280px;
    margin-top: 2px;
    position: relative;
}

.bar p {
    width: 100%;
}

.gif-container img {
    width: 100%;
    height: 100%;
}

.see-more {
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    padding: 8px 10px;
    /* margin: 233px auto 19px 11px; */
    position: absolute;
    top: 231px;
    left: 7px;
}

.close-button {
    position: absolute;
    right: 4px;
    width: 16px;
    height: 14px;
    border: none;
}

/************* trends *************/
.trends .container {
    padding-top: 64px;
}

.trends input {
    margin-bottom: 20px;
}

.trends .bar {
    position: absolute;
    left: 4px;
    right: 4px;
    bottom: 4px;
    display: none;
}

.trends .gif-container {
    margin-bottom: 16px;
    width: 288px;
    height: 313px;
    position: relative;
}

.trends .gif-container:hover {
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    padding: 3px 4px 4px;
}

.trends .gif-container:hover .bar{
    display: block;
}

/************* Create Guifos *************/

.create-guifos {
    padding: 56px 0 153px;
}
.window-container {
    margin: 0 auto;
    width: 684px;
    height: 386px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}