body[theme='dark'] {
    background-color: #110038;
}

[theme='dark'] header {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    box-shadow: 0 1px 0 0 #110038;
}

[theme='dark'] .logo {
    background-image: url(../img/gifof_logo_dark.png);
}

[theme='dark'] .bar {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

[theme='dark'] .suggestion-result {
    background: #CCCCCC;
}

/* [theme='dark'] .suggestion-result:hover {
TODO agregar borde
} */

[theme='dark'] button,
[theme='dark'] .guifos {
    background: #EE3EFE;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

[theme='dark'] .window-container {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

[theme='dark'] button.cancelar {
    background: #CCCCCC;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

/* [theme='dark'] .search-button img {
    background-image: url(../img/combined_shape.svg);
} */

[theme='dark'] .search-button {
    background: #B4B4B4;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    color: #8F8F8F;
}

[theme='dark'] .search-button.ready {
    background: #EE3EFE;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

[theme='dark'] nav button:hover,
[theme='dark'] nav button:active,
[theme='dark'] .nav-button .guifos:hover,
[theme='dark'] .nav-button .guifos:active {
    background: #CE36DB;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

[theme='dark'] .theme span.button-text,
[theme='dark'] .icon {
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

[theme='dark'] nav ul {
    background-color: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

[theme='dark'] nav li {
    background-color: #CCCCCC;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

[theme='dark'] .box {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

[theme='dark'] .my-guifos,
[theme='dark'] .guifos,
[theme='dark'] .guifos a,
[theme='dark'] .button-text {
    color: #FFFFFF;
}

[theme='dark'] .see-more {
    background: #2E32FB;
    box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
}

[theme='dark'] .see-more:hover {
    background: #2629CC;
    box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
}

[theme='dark'] .suggestions .gif-box {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
}

[theme='dark'] .trends .gif-container:hover {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
}

/*TODO color de la lupa*/